<h1><%= @student.to_s %></h1>

<% if @student.active == false %>
    <p> This student is currently inactive. </p>
<% else %>
    <p> This student is currently active. </p>
<% end %>

<%= link_to "Home Page", students_path %>
<br>
<%= link_to "Toggle Activation", activate_student_path%>